<!-- Gardevoir CSS resetter -->
<link rel="preload" href="https://cdn.jsdelivr.net/npm/gardevoir@1.0.0/dist/index.min.css" integrity="sha256-9mzMzJP0K1G9SG0FxrJkSV0soJMrALtxUXred+5tMLQ=" crossorigin="anonymous" as="style">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gardevoir@1.0.0/dist/index.min.css" integrity="sha256-9mzMzJP0K1G9SG0FxrJkSV0soJMrALtxUXred+5tMLQ=" crossorigin="anonymous">
<!-- End Gardevoir CSS resetter -->

<!-- Alpine.js -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.6/dist/cdn.min.js" integrity="sha256-CzQu0rRvbSiHcebHrreQxjJ90jbZuOLwjH+eQ0xYeGY=" crossorigin="anonymous"></script>
<!-- End Alpine.js -->