<footer>
  <p>
    &copy; {{ page.date.getFullYear() }} <a href="{{author.url}}" rel="noindex,nofollow" target="_blank">{{ author.name }}</a>.<br />
    Licensed under the <a href="https://saschazar.mit-license.org/license.txt" rel="noindex,nofollow" target="_blank">MIT License</a>.
  </p>
</footer>